<%- include('./partials/header'); %>

<div class="container">
  <h3 class="text-center my-3">Book Appointment</h3>
  <form class="row g-3 my-3" action="/insert/patient" method="POST">
    <% if(messages.success != '' && messages.success){ %>
      <div class="alert alert-success alert-dismissible fade show" role="alert">
        <%= messages.success %>
        <button type="button" class="btn-close" data-dismiss="alert" aria-label="Close">
        </button>
      </div>
    <% } %>
    <% if(messages.error != '' && messages.error){ %>
      <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <%= messages.error %>
        <button type="button" class="btn-close" data-dismiss="alert" aria-label="Close">
        </button>
      </div>
    <% } %>
    
    <div class="col-md-6">
      <label for="firstName" class="form-label">First Name</label>
      <input type="text" class="form-control" id="firstName" name="firstName">
    </div>
    <div class="col-md-6">
      <label for="lastName" class="form-label">Last Name</label>
      <input type="text" class="form-control" id="lastName" name="lastName">
    </div>
    <div class="col-md-6">
      <label for="phoneNumber" class="form-label">Phone Number</label>
      <input type="tel" class="form-control" maxlength="10" placeholder="9812345678" id="phoneNumber" name="phoneNumber">
    </div>
    <div class="col-md-6">
      <label for="email" class="form-label">Email</label>
      <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp">
      <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
    </div>
    <div class="col-md-6">
      <label for="gender" class="form-label">Gender</label>
      <select id="gender" name="gender" class="form-select">
        <option selected>Choose...</option>
        <option>Male</option>
        <option>Female</option>
        <option>Other</option>
      </select>
    </div>
    <div class="col-md-6">
      <label for="age" class="form-label">Enter Your Age</label>
      <input type="number" class="form-control" maxlength="3" id="age" name="age">
    </div>
    <div class="col-md-12">
      <label for="meetingTime" class="form-label">Pick Date and Time</label>
      <input type="datetime-local" class="form-control" maxlength="3" id="meetingTime" name="meetingTime">
    </div>
    <div class="col-12 text-center">
      <button type="submit" class="btn btn-primary">Make Appointment</button>
    </div>
  </form>
</div>

<%- include('./partials/footer'); %>